<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Statics/palabras.css" rel="stylesheet">
    <title>Juego de palabras</title>
</head>
<body>
    <h1>Juego de palabras</h1>
    <div id="contenedor_all">
        <div id="contenedorbtn">
            <div id="btn1" class="divboton">
                <button id="contador-btn" class="boton">Contador</button>
            </div>
            <div id="btn2" class="divboton">
                <button id="buscador-btn" class="boton">Buscador</button>
            </div>
            <div id="btn3" class="divboton">
                <button id="acronimo-btn" class="boton">Acronimo</button>
            </div>
        </div>

        <div id="contenedor_contador">
            <div id="tituloselect">
                <h3 id="encabezado_estatus">Contador</h3>
            </div>
            <form id="texto">
                <label for="texto">Texto:</label>
                <input type="text" id="texto_contador" name="texto" required>
                <input type="submit" value="Contar" id="contar-btn">
            </form>
            <p id="resultado"></p>
        </div>

         <div id="contenedor_buscador">
            <div id="tituloselect">
                <h3 id="encabezado_estatus">Buscador</h3>
            </div>
            <form id="texto">
                <label for="texto">Texto:</label>
                <input type="text" id="texto_buscador" name="texto" required>
                <input type="submit" value="Buscar" id="buscar-btn">
            </form>
        </div>

        <div id="contenedor_acronimo">
            <div id="tituloselect">
                <h3 id="encabezado_estatus">Acrónimo</h3>
            </div>
            <form id="texto">
                <label for="texto">Texto:</label>
                <input type="text" id="texto_acronimo" name="texto" required>
                <input type="submit" value="Generar" id="acronimo-btn">
            </form>
        </div>
    </div>
    <script src="../Dynamics/js/cosotas.js"></script>
</body>
</html>