<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Statics/palabras.css" rel="stylesheet">
    <title>Juego de palabras</title>
</head>
<body>
    <h1>Juego de palabras</h1>
    <div id="contenedor_all">
        <div id="contenedorbtn">
            <div id="btn1" class="divboton">
                <button id="contador-btn" class="boton">Contador</button>
            </div>
            <div id="btn2" class="divboton">
                <button id="buscador-btn" class="boton">Buscador</button>
            </div>
            <div id="btn3" class="divboton">
                <button id="acronimo-btn" class="boton">Acronimo</button>
            </div>
        </div>



        <div id="contenedor_contador" class="contenedor_dinamico">
            <div id="tituloselect">
                <h3 id="encabezado_estatus">Contador</h3>
            </div>
            <form id="texto">
                <label for="texto">Texto:</label>
                <input type="text" id="texto" name="texto" required>
                <button type="submit" id="btn_contar" class="boton">Contar</button>
            </form>
        </div>


         <div id="contenedor_buscador" class="contenedor_dinamico">
            <div id="tituloselect">
                <h3 id="encabezado_estatus">Buscador</h3>
            </div>
            <form id="texto">
                <label for="texto">Texto:</label>
                <input type="text" id="texto" name="texto" required>
                <button type="submit" id="btn_buscar" class="boton">Buscar</button>
            </form>
        </div>


        <div id="contenedor_acronimo" class="contenedor_dinamico">
            <div id="tituloselect">
                <h3 id="encabezado_estatus">Acrónimo</h3>
            </div>
            <form id="texto">
                <label for="texto">Texto:</label>
                <input type="text" id="texto" name="texto" required>
                <button type="submit" id="btn_acronimo" class="boton">Generar Acrónimo</button>
            </form>
        </div>

    </div>
    <script src="../Dynamics/js/cositas.js"></script>
</body>
</html>