<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Statics/palabras.css" rel="stylesheet">
    <title>Juego de palabras</title>
</head>
<body>
    <h1>Juego de palabras</h1>
    <div id="contenedor_all">
        <div id="contenedorbtn">
            <div id="btn1">
                <button id="contador-btn" class="boton">Contador</button>
            </div>
            <div id="btn2">
                <button id="buscador-btn">Buscador</button>
            </div>
            <div id="btn3">
                <button id="acronimo-btn">Acronimo</button>
            </div>
            
        </div>
        <div id="contenedor_dinamico">
            <h3 id="encabezado_estatus">Contador</h3>
            <form id="texto">
                <label for="texto">Texto</label>
                <input type="text" id="texto" name="texto" required>
            </form>
        </div>
    </div>
    
</body>
</html>